h2{
    color:blue;
  }
  .paragraph{
    color:red;
  }
  #paragraph{
    color:blue;
    background-color: black;
  }
  form{
    background-color: aqua;
    /* padding:20px top 20px right 20px bottom  20px left; */
    padding: 20px 20px 20px 20px;
    margin:20px 20px 20px 20px;
    border-radius:30px;
  }
  form:hover{
    background-color: blue;
  }