/* @import url(form.css);  */
/*  call modular css can import all the css of the form using this */

/* @import url(variable.css); */
div.main-div{
    /* margin:20px; */
    /* margin means outside where as padding means between the contains  from main div */
    padding:30px; 
    /* trbl */
    /* margin-top: 30px; */
    background-color: rgb(160, 199, 160);
    /* background: var(--background); */
    /* margin:30px 10px 30px 60px; */
    margin:auto;
    width:50%;
    position: relative;
    /* with respective to this */

}


form.main-div{
    margin:auto;
    width:50%;
}
div form label{
    background-color: pink;
}
#second-div{
    background-color: grey;
    color:white;
}
/* use rem instead of px because of responsive  */
  input[type="text"]{
    color:red;
  
}
