li{
    list-style: lower-roman;
}
.inlinebanau{
    display: inline;
}
h1{
    display:inline;
}
.red{
    color:red;
}
.green{
    color:green;
}

.btn{
    border-radius: 15px;
}
.btn-danger{
    background-color: red;
}